[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-ordering = "*"
pandas = "*"
numpy = "*"
plotly = "*"
cufflinks = "*"
matplotlib = "*"
twine = "*"

[packages]
jupyter = "*"
jupyter-contrib-nbextensions = "*"
pystache = "*"
pyyaml = "*"
docutils = "*"

[requires]
python_version = "3.8"
