[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
gitchangelog = "*"
jupyter-contrib-nbextensions = "*"
pystache = "*"
pandas = "*"
numpy = "*"
plotly = "*"
cufflinks = "*"
matplotlib = "*"
twine = "*"

[requires]
python_version = "3.7"
